

.review-cont{
    
    margin-top: 100px;
}
.cards-container{
    margin-top: 100px;
    
}
.card-imgs{
    width: 80px;
    height: 75px;
}
.card-imgs img{
    border-radius: 50%;
}
.card-style{
    
    background-color: rgb(255, 246, 246);
    border: none;
    border-radius: 15px;
    background: linear-gradient(225deg, #f19898, #cb8080);
    box-shadow:  -10px 10px 20px #b47272,
             10px -10px 20px #ffaaaa;
}


